/* satoshi variable fonts */
@font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi/WEB/fonts/Satoshi-Variable.woff2")
        format("woff2-variations");
    font-weight: 300 900; /* specify weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi/WEB/fonts/Satoshi-VariableItalic.woff2")
        format("woff2-variations");
    font-weight: 300 900; /* specify weight range */
    font-style: italic;
    font-display: swap;
}

/* zodiak variable fonts */
@font-face {
    font-family: "Zodiak";
    src: url("/fonts/zodiak/WEB/fonts/Zodiak-Variable.woff2")
        format("woff2-variations");
    font-weight: 100 900; /* specify weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zodiak";
    src: url("/fonts/zodiak/WEB/fonts/Zodiak-VariableItalic.woff2")
        format("woff2-variations");
    font-weight: 100 900; /* specify weight range */
    font-style: italic;
    font-display: swap;
}

/* roboto mono regular */
@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/robotomono/RobotoMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* define css variables */
:root {
    --font-satoshi: "Satoshi", system-ui, -apple-system, blinkmacsystemfont,
        "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    --font-zodiak: "Zodiak", georgia, cambria, "Times New Roman", times, serif;
    --font-roboto-mono: "Roboto Mono", ui-monospace, sfmono-regular, menlo,
        monaco, consolas, "Liberation Mono", "Courier New", monospace;
}
